body {
    margin: 0;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: black;
    background-color: white;
    box-shadow: 0 -20px 150px 0 #d9d9d9;
}

.navtop div img {
    width: 40px;
    height: 40px;
}

.left {
    display: flex;
    margin-left: 2%;
}

.left #title {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 10px;
}

.menu {
    display: flex;
    margin-right: 22px;
}

.menu div a:hover {
    color: #068FFF;
}

.menu div {
    padding: 5px;
    text-decoration: none;
    margin-left: 50px;
}

.menu div a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
}

.menu #page a {
    color: #068FFF;
}

input[type=checkbox] {
    display: none;
}

.menubar {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 800px) {
    .menu {
        display: none;
        position: fixed;
        background-color: black;
        left: 0;
        text-align: left;
        margin-top: -53px;
        width: 40%;
        height: 120%;
        opacity: 80%;
    }

    .menu div {
        margin-top: 15px;
        margin-left: 20px;
    }

    .menu div a {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        text-decoration: none;
    }

    .menu div:hover {
        color: #068FFF;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .menubar {
        display: block;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.intro {
    flex: 50%;
    margin-top: 8%;
}

.portfolio {
    flex: 50%;
    margin-top: 5%;
}

#myintro {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 8%;
}

#myintro a {
    font-size: 20px;
    word-spacing: 3px;
    font-weight: 400;
}

#myintro h2 {
    font-size: 65px;
    margin-top: 12px;
    word-spacing: 2px;
}

#myintro p {
    font-size: 18px;
    word-spacing: 4px;
    margin-top: -12px;
    line-height: 1.5;
    font-weight: 300;
}

#myintro p a {
    font-size: 18px;
    font-weight: 500;
}

.portfolio div img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: 10%;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8%;
    padding: 60px;
    padding-left: 10%;
    padding-right: 2%;
    color: white;
    background-color: #04091E;
}

.thing input {
    width: 95%;
    height: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
}

.thing {
    flex: 25%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-right: 5%;
}

.thing h2 {
    font-weight: 400;
    font-size: 28px;
}

.thing p {
    font-weight: 300;
    width: 90%;
    margin-top: -2%;
    font-size: 16px;
}

.media a {
    text-decoration: none;
}

.media a img {
    margin-right: 3%;
    margin-top: 3%;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1200px) {
    .intro {
        flex: 100%;
    }

    .portfolio div img {
        flex: 100%;
    }

    .thing {
        flex: 20%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 600px) {
    .portfolio div img {
        margin-left: 0;
    }

    .thing {
        flex: 100%;
    }

    .bottom {
        margin-top: 20%;
    }

    #myintro h2 {
        font-size: 230%;
    }

    #myintro p {
        margin-top: 10%;
    }
}