body {
    margin: 0;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: black;
    background-color: white;
    box-shadow: 0 -20px 150px 0 #d9d9d9;
    position: sticky;
    top: 0;
}

.navtop div img {
    width: 40px;
    height: 40px;
}

.left {
    display: flex;
    margin-left: 2%;
}

.left #title {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 10px;
}

.menu {
    display: flex;
    margin-right: 22px;
}

.menu div a:hover {
    color: #068FFF;
}

.menu div {
    padding: 5px;
    text-decoration: none;
    margin-left: 50px;
}

.menu div a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
}

.menu #page a {
    color: #068FFF;
}

input[type=checkbox] {
    display: none;
}

.menubar {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: fixed;
        background-color: black;
        left: 0;
        text-align: left;
        margin-top: -53px;
        width: 40%;
        height: 100%;
        opacity: 80%;
    }

    .menu div {
        margin-top: 15px;
        margin-left: 20px;
    }

    .menu div a {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        text-decoration: none;
    }

    .menu div:hover {
        color: #068FFF;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .menubar {
        display: block;
    }
}

.center {
    text-align: center;
    padding: 30px;
    padding-bottom: 80px;
    background: linear-gradient(to right, #8194FF 0%, #789DFE 25%, #72A8FC 50%, #6AB2FE 75%, #63BBFB 100%)
}

.center h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.center #go {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.center #go a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    margin: 8px;
}

.center2 {
    text-align: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}

.center2 h2 {
    font-size: 40px;
    font-weight: 600;
}

.center2 p {
    line-height: 1.5;
    font-size: 15px;
    font-weight: 300;
    margin-top: -20px;
}

.center3 h2 {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5%;
}

.center4 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -1%;
}

.center4 .item {
    flex: 25%;
    padding: 20px;
}

.center4 .item h2 {
    font-size: 17px;
    font-weight: 600;
}

.item img {
    width: 350px;
    height: auto;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    padding: 60px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    background: linear-gradient(to right, #8194FF 0%, #789DFE 25%, #72A8FC 50%, #6AB2FE 75%, #63BBFB 100%)
}

.bottomin {
    flex: 100%;
}

.bottomin h2 {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 1%;
}

.thing {
    flex: 25%;
    padding: 20px;
    text-align: center;
}

.thing h2 {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: -2%;
}

.thing img {
    width: 350px;
    height: auto;
}

.bottoms {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    padding-left: 10%;
    padding-right: 2%;
    color: white;
    background-color: #04091E;
}

.things input {
    width: 95%;
    height: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
}

.things {
    flex: 25%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-right: 5%;
}

.things h2 {
    font-weight: 400;
    font-size: 28px;
}

.things p {
    font-weight: 300;
    width: 90%;
    margin-top: -2%;
    font-size: 16px;
}

.media a {
    text-decoration: none;
}

.media a img {
    margin-right: 3%;
    margin-top: 3%;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1200px) {
    .thing {
        flex: 40%;
    }

    .thing img {
        max-width: 300px;
        height: auto;
    }

    .item img {
        max-width: 300px;
        height: auto;
    }

    .things {
        flex: 20%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 600px) {
    .center3 .item {
        flex: 100%;
    }

    .thing {
        flex: 100%;
    }

    .center4 {
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
    }

    .item {
        margin-left: auto;
        margin-right: auto;
    }

    .bottom {
        margin-left: 0%;
        margin-right: 0%;
    }

    .thing {
        margin-left: auto;
        margin-right: auto;
    }

    .things {
        flex: 100%;
    }
}